.warning {
    border: 10px ridge #020101;
    background-color: #ffffff;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

.warning img {
}

.warning p {
    font: small-caps bold 1.2rem sans-serif;
    text-align: center;
}

mark {
    background: #020101;
    color: white;
}